[defaults]
inventory = inventory.yml
roles_path = roles
remote_user = rhew
interpreter_python = auto_silent
local_tmp = .ansible/tmp
collections_path = .ansible/collections:~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
control_path_dir = .ansible/cp

[privilege_escalation]
become = true
become_method = sudo
