[Unit]
Description=Run Docker prune periodically

[Timer]
OnCalendar={{ docker_prune_calendar }}
Persistent=true
RandomizedDelaySec={{ docker_prune_randomized_delay }}

[Install]
WantedBy=timers.target
