[jackett]
base_url = "http://jackett:9117"
transmission_base_url = "http://jackett:9117"
config_dir = "/app/jackett-config/Jackett"

[network]
timeout = 20

[paths]
downloads_root = "/app/downloads"
library_root = "/app/library"

[transmission]
rpc_url = "http://gluetun:9091/transmission/rpc"
