[Unit]
Description=Refresh media stack VPNGate config
Wants=docker.service network-online.target
After=docker.service network-online.target

[Service]
Type=oneshot
User={{ server_user }}
WorkingDirectory={{ media_stack_dir }}
ExecStart={{ media_stack_dir }}/media-vpn-refresh
