PUID={{ media_stack_puid }}
PGID={{ media_stack_pgid }}
TZ={{ media_stack_tz }}

MEDIA_DIR={{ media_mount.path }}

QBITTORRENT_WEBUI_PORT={{ media_stack_qbittorrent_webui_port }}
PROWLARR_PORT={{ media_stack_prowlarr_port }}
RADARR_PORT={{ media_stack_radarr_port }}

VPNGATE_COUNTRY={{ media_stack_vpngate_country }}
VPNGATE_MIN_SPEED={{ media_stack_vpngate_min_speed }}
VPNGATE_MAX_PING={{ media_stack_vpngate_max_ping }}
VPNGATE_MIN_UPTIME={{ media_stack_vpngate_min_uptime }}

VIDEO_GID={{ media_stack_video_gid }}
RENDER_GID={{ media_stack_render_gid }}
