APP_UID={{ private_torrent_downloader_app_uid }}
APP_GID={{ private_torrent_downloader_app_gid }}
TZ={{ private_torrent_downloader_tz }}

DOWNLOADS_DIR={{ media_mount.path }}/downloads
LIBRARY_DIR={{ media_mount.path }}/library
JACKETT_CONFIG_DIR={{ private_torrent_downloader_dir }}/jackett-config

CURATOR_PORT={{ private_torrent_downloader_curator_port }}
CURATOR_TOKEN={{ private_torrent_downloader_curator_token }}
TRANSMISSION_IMAGE={{ private_torrent_downloader_transmission_image }}

VPNGATE_COUNTRY={{ private_torrent_downloader_vpngate_country }}
VPNGATE_MIN_SPEED={{ private_torrent_downloader_vpngate_min_speed }}
VPNGATE_MAX_PING={{ private_torrent_downloader_vpngate_max_ping }}
VPNGATE_MIN_UPTIME={{ private_torrent_downloader_vpngate_min_uptime }}

VIDEO_GID={{ private_torrent_downloader_video_gid }}
RENDER_GID={{ private_torrent_downloader_render_gid }}
