[Unit]
Description=Refresh private-torrent-downloader VPNGate config periodically

[Timer]
OnCalendar={{ media_vpn_refresh_calendar }}
Persistent=true
RandomizedDelaySec={{ media_vpn_refresh_randomized_delay }}

[Install]
WantedBy=timers.target
